
.box { position:relative;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	background-position: center;
    background-size: cover;
	content:100%;
 
 }

.box video {
	position:relative;
    z-index:0;
}

video {
	height:100%;
	width:100%;
	display:flex;
}
.overlay {
   position: absolute;
   z-index:1;

}